.estiloContainer{
    background-color:white;
    margin-top: 30px;
    border-radius: 10px;
}
body{
    background-color: black;
}
.estiloHijoc{
    padding-top: 30px;
}

.barraNavegacion{
    background-color: black;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchNav{
    background-color:white;
    border-radius: 5px;
}

.textNav{
    margin-top: 15px;
    font-size: 17px;
}

.colorRojo{
    color: red;
}

.colorBlanco{
    color:white;
}

.botonUnegr{
    padding: 1px;
    background-color: red;
    margin-left: 5px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

