.estiloContainer{
    background-color: brown;
    margin-top: 30px;
    border-radius: 10px;
}
body{
    background-color: black;
}
.estiloHijoc{
    padding-top: 30px;
}
.lineaDerecha{
    border-left: 1px solid white;
}

.barraNavegacion{
    background-color: black;
    padding-left: 15px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
